footer{
    width: 100%;
}

.FB{
    font-size: 40px;
    color: mediumblue;
}

.FB:hover{
    transform: scale(1.2,1.2);
}

.TW{
    font-size: 40px;
    color: dodgerblue;
}

.TW:hover{
    transform: scale(1.2,1.2);
}

.WP{
    font-size: 40px;
    color: limegreen;
}

.WP:hover{
    transform: scale(1.2,1.2);
}