footer{
    width: 100%;
}


$redes:(
    FB: mediumblue,
    TW: dodgerblue,
    WP: limegreen,
);

@each $red, $color in $redes{
    .#{$red}{
        color: $color;
    }
}

.FB, .TW, .WP{
    font-size: 40px;
}

.FB:hover, .TW:hover, .WP:hover{
    transform: scale(1.2,1.2);
}
