*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

$ColorNavbar: #9dc1df;
$ColorHoverNavbar: rgb(126, 119, 230);

$TextoClientes:(
    pad: 20px,
    ColorTexto:  midnightblue,
);

@mixin hPadding($padding-left,$padding-right){
    padding-left: $padding-left;
    padding-right: $padding-right;
}

header, article, section{
    width: 100%;
}

.ItemNavbar:hover{
    background-color: $ColorHoverNavbar
}

.galeria{
    margin: 100px;
}

h1, h2, p {
    padding: 20px;
}

#destinos{
    @include hPadding(20px,20px)
}

.Texto_Clientes{
    font-family: 'Open Sans', sans-serif;    
    padding: map-get($TextoClientes, pad);
    color: map-get($TextoClientes, ColorTexto);
}

.Texto_Index{
    @extend .Texto_Clientes;
    size: 25px;    
}

.LogoClientes:hover{
    transform: scale(1.2,1.2);
}

.servicios__section:hover{
    transform: rotate(360deg);
}

.BarraNavegacion{
    background-color: $ColorNavbar;
}

@import "_footer.scss";