*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

$ColorNavbar: #9dc1df;
$ColorTexto:  midnightblue;
$ColorHoverNavbar: rgb(126, 119, 230);


header, article, section{
    width: 100%;
}

.ItemNavbar:hover{
    background-color: $ColorHoverNavbar
}

.galeria{
    margin: 100px;
}

.Texto_Clientes{
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    color:$ColorTexto;
}

.thumbnail:hover{
    transform: scale(1.2,1.2);
}

.servicios__section:hover{
    transform: rotate(360deg);
}

.BarraNavegacion{
    background-color: $ColorNavbar;
}

@import "_footer.scss";