*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

header, footer, article, section{
    width: 100%;
}

.ItemNavbar:hover{
    background-color: rgb(126, 119, 230);
}

.galeria{
    margin: 100px;
}

.Texto_Clientes{
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    color: midnightblue;
}

.thumbnail:hover{
    transform: scale(1.2,1.2);
}

/* header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to right, white, #00D6CD);
}

footer{
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #009E97;
}

section{
    grid-area: section;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #98BFFF;
}

article{
    grid-area: article;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5E8AD8;
} 


ul.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

li:hover{
    background-color: #334B49;
    color: white;
}*/

/* ul.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-width: 5px;
    padding: 5px;
} */

/* li{
    list-style: none;
    padding: 10px;
    text-decoration: none;
} */

.servicios__section:hover{
    transform: rotate(360deg);
}

.BarraNavegacion{
    background-color: #9dc1df;
}

.FB{
    font-size: 40px;
    color: mediumblue;
}

.FB:hover{
    transform: scale(1.2,1.2);
}

.TW{
    font-size: 40px;
    color: dodgerblue;
}

.TW:hover{
    transform: scale(1.2,1.2);
}

.WP{
    font-size: 40px;
    color: limegreen;
}

.WP:hover{
    transform: scale(1.2,1.2);
}